In [2]:
import requests
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv(override=True)

True

In [2]:
# testing the API key
lat = 5.879698
lon = 5.700531
API_key = os.getenv('weather_api')
url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_key}'

In [3]:
response = requests.get(url)

# status check, 200 is success: 400> client, 500> server
response.status_code

200

In [4]:
data = response.json()
data

{'coord': {'lon': 5.7005, 'lat': 5.8797},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04d'}],
 'base': 'stations',
 'main': {'temp': 299.05,
  'feels_like': 300.1,
  'temp_min': 299.05,
  'temp_max': 299.05,
  'pressure': 1015,
  'humidity': 92,
  'sea_level': 1015,
  'grnd_level': 1014},
 'visibility': 10000,
 'wind': {'speed': 1.18, 'deg': 172, 'gust': 2.27},
 'clouds': {'all': 100},
 'dt': 1717398615,
 'sys': {'country': 'NG', 'sunrise': 1717392134, 'sunset': 1717436934},
 'timezone': 3600,
 'id': 2323675,
 'name': 'Sapele',
 'cod': 200}

In [5]:
data['weather']

[{'id': 804,
  'main': 'Clouds',
  'description': 'overcast clouds',
  'icon': '04d'}]

In [14]:
temp = data['main']['temp']
temp

301.78

In [15]:
pressure = data['main']['pressure']
pressure

1011

In [6]:
# Extracting relevant data
location = data['name']
weather_main = data['weather'][0]['main']
description = data['weather'][0]['description']
temp = data['main']['temp']
pressure = data['main']['pressure']
humidity = data['main']['humidity']
wind_speed = data['wind']['speed']
dt = data['dt']
tz = data['timezone']

In [7]:
# Creating a dictionary from the extracted data
data_dict = {
    "Location": [location],
    "Weather": [weather_main],
    "Description": [description],
    "Temperature": [temp],
    "Pressure": [pressure],
    "Humidity": [humidity],
    "Wind Speed": [wind_speed],
    "Datetime": [dt],
    "Timezone": [tz]
}

# Creating a DataFrame from the dictionary
df = pd.DataFrame(data_dict)
df

,Location,Weather,Description,Temperature,Pressure,Humidity,Wind Speed,Datetime,Timezone
0,Sapele,Clouds,overcast clouds,299.05,1015,92,1.18,1717398615,3600

In [38]:

# Load the JSON file containing city coordinates
import json
with open('uk_cities_coordinates.json', 'r') as json_file:
    data = json.load(json_file)

# Create a DataFrame from the JSON data
all_locations = pd.DataFrame(data['cities'])

# Rename the 'name' column to 'city'
all_locations = all_locations.rename(columns={'name': 'city'})
all_locations

          city  latitude  longitude
0       London   51.5074    -0.1278
1   Birmingham   52.4862    -1.8904
2   Manchester   53.4808    -2.2426
3    Liverpool   53.4084    -2.9916
4        Leeds   53.8008    -1.5491
..         ...       ...        ...
69      Bangor   53.2270    -4.1293
70    St Asaph   53.2550    -3.4483
71   St Davids   51.8820    -5.2697
72     Wrexham   53.0463    -2.9925
73     Belfast   54.5973    -5.9301

[74 rows x 3 columns]

In [39]:
# Empty lists to hold data points
locations = []
weathers = []
descriptions = []
temps = []
pressures = []
humidities = []
wind_speeds = []
timezones = []
dates = []

API_key = 'c2e72c4355186edfa9c4049a767a16e3'

for index, row in all_locations.iterrows():
    lat = row['latitude']
    lon = row['longitude']

    url = f'https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&appid={API_key}'
    response = requests.get(url)
    data = response.json()

    # Extracting relevant data
    location = data['name']
    locations.append(location)

    weather_main = data['weather'][0]['main']
    weathers.append(weather_main)

    description = data['weather'][0]['description']
    descriptions.append(description)

    temp = data['main']['temp']
    temps.append(temp)

    pressure = data['main']['pressure']
    pressures.append(pressure)

    humidity = data['main']['humidity']
    humidities.append(humidity)

    wind_speed = data['wind']['speed']
    wind_speeds.append(wind_speed)

    dt = data['dt']
    dates.append(dt)

    tz = data['timezone']
    timezones.append(tz)

# Creating DataFrame
df = pd.DataFrame({
    'Location': locations,
    'Weather': weathers,
    'Description': descriptions,
    'Temperature': temps,
    'Pressure': pressures,
    'Humidity': humidities,
    'Wind Speed': wind_speeds,
    'Datetime': dates,
    'Timezone': timezones
})

df

,Location,Weather,Description,Temperature,Pressure,Humidity,Wind Speed,Datetime,Timezone
0,London,Clouds,broken clouds,288.76,1021,79,2.57,1717399705,3600
1,Birmingham,Clouds,broken clouds,287.72,1023,85,3.09,1717399379,3600
2,Manchester,Clouds,broken clouds,287.56,1023,89,1.03,1717399738,3600
3,Liverpool,Rain,light rain,287.46,1021,91,5.66,1717399974,3600
4,Leeds,Clouds,few clouds,287.90,1017,84,6.69,1717399706,3600
...,...,...,...,...,...,...,...,...,...
69,Bangor,Clouds,overcast clouds,286.47,1024,41,3.60,1717399992,3600
70,St Asaph,Clouds,overcast clouds,286.51,1023,95,0.89,1717399992,3600
71,St Davids,Clouds,overcast clouds,288.72,1025,93,3.93,1717399992,3600
72,Wrexham,Drizzle,light intensity drizzle,286.84,1023,93,4.12,1717399992,3600
73,Belfast,Clouds,broken clouds,287.11,1023,84,4.63,1717399486,3600

# Transformation

In [42]:
## convert temperature readings to celcius 
df1 = df.copy()
df1.head(2)

,Location,Weather,Description,Temperature,Pressure,Humidity,Wind Speed,Datetime,Timezone
0,London,Clouds,broken clouds,288.76,1021,79,2.57,1717399705,3600
1,Birmingham,Clouds,broken clouds,287.72,1023,85,3.09,1717399379,3600

In [44]:
df.to_csv(r'raw_weather_data.csv')

In [45]:
## convert temperature readings to celcius
df1['Temperature'] = df1['Temperature'].apply(lambda x: x - 273.15)

In [46]:
df1.head(2)

,Location,Weather,Description,Temperature,Pressure,Humidity,Wind Speed,Datetime,Timezone
0,London,Clouds,broken clouds,15.61,1021,79,2.57,1717399705,3600
1,Birmingham,Clouds,broken clouds,14.57,1023,85,3.09,1717399379,3600

In [47]:
## convert date to a readable format
from datetime import datetime
def adjust_date(row):
    unix_datetime = row['Datetime'] + row['Timezone']

    # conversion
    actual_datetime = datetime.utcfromtimestamp(unix_datetime)
    return actual_datetime

In [48]:
## apply to the column
df1.apply(adjust_date, axis=1)

0    2024-06-03 08:28:25
1    2024-06-03 08:22:59
2    2024-06-03 08:28:58
3    2024-06-03 08:32:54
4    2024-06-03 08:28:26
             ...
69   2024-06-03 08:33:12
70   2024-06-03 08:33:12
71   2024-06-03 08:33:12
72   2024-06-03 08:33:12
73   2024-06-03 08:24:46
Length: 74, dtype: datetime64[ns]

In [49]:
df1['reading_time'] = df1.apply(adjust_date, axis=1)

In [50]:
# Drop 'Datetime' and 'Timezone' columns
df1 = df1.drop(columns=['Datetime', 'Timezone'])
df1.head()

,Location,Weather,Description,Temperature,Pressure,Humidity,Wind Speed,reading_time
0,London,Clouds,broken clouds,15.61,1021,79,2.57,2024-06-03 08:28:25
1,Birmingham,Clouds,broken clouds,14.57,1023,85,3.09,2024-06-03 08:22:59
2,Manchester,Clouds,broken clouds,14.41,1023,89,1.03,2024-06-03 08:28:58
3,Liverpool,Rain,light rain,14.31,1021,91,5.66,2024-06-03 08:32:54
4,Leeds,Clouds,few clouds,14.75,1017,84,6.69,2024-06-03 08:28:26

In [59]:
df1.to_csv(r'cleaned_weather_report.csv', index=False)

In [3]:

import pandas as pd
df1 = pd.read_csv(r'cleaned_weather_report.csv', index_col=0)
df1.head()

,Location,Weather,Description,Temperature,Pressure,Humidity,Wind Speed,reading_time
0,London,Clouds,broken clouds,15.61,1021,79,2.57,2024-06-03 08:28:25
1,Birmingham,Clouds,broken clouds,14.57,1023,85,3.09,2024-06-03 08:22:59
2,Manchester,Clouds,broken clouds,14.41,1023,89,1.03,2024-06-03 08:28:58
3,Liverpool,Rain,light rain,14.31,1021,91,5.66,2024-06-03 08:32:54
4,Leeds,Clouds,few clouds,14.75,1017,84,6.69,2024-06-03 08:28:26

# Loading to Snowflake

In [9]:
# stored procedures to be done in staging area (snowflake)

In [4]:
# Create the database engine
import snowflake.sqlalchemy
from sqlalchemy import create_engine, text
import snowflake.connector

engine = create_engine(
    'snowflake://{user}:{password}@{account_identifier}/{database}/{schema}?warehouse_name={warehouse}'.format(
        user=os.getenv('user'),
        password=os.getenv('password'),
        account_identifier=os.getenv('account_identifier'),
        database=os.getenv('database'),
        schema=os.getenv('schema'),
        warehouse=os.getenv('warehouse'),
    )
)

In [22]:
# another way to create engine if the previous one doesnt work in your environment 
from snowflake.sqlalchemy import URL

snowflake_url = URL(
        user=os.getenv('user'),
        password=os.getenv('password'),
        account=os.getenv('account_identifier'),
        database=os.getenv('database'),
        schema=os.getenv('schema'),
        warehouse=os.getenv('warehouse'),
    )
# Create a SQLAlchemy engine
engine = create_engine(snowflake_url)

In [18]:

# Write the DataFrame to the Snowflake database, append if exist
# the append specification lets it work with updating it everyday
# the parameter method='multi' ; improves performance by inserting multiple rows at once instead of row by row 
df1.to_sql("WeatherData", con=engine, index=False, if_exists='append', method='multi')

engine.dispose()

In [23]:
# query the database 
sql_query = """
SELECT * FROM "WeatherData" LIMIT 10;
"""

# Define parameters if your query has placeholders
params = {"condition_value": "some_value"}

# Execute the SQL query
with engine.connect() as connection:
    result = connection.execute(text(sql_query), **params)
    # Fetch all rows
    rows = result.fetchall()
    # Process the rows
    for row in rows:
        print(row)

('London', 'Clouds', 'broken clouds', 15.610000000000014, 1021, 79, 2.57, '2024-06-03 08:28:25')
('Birmingham', 'Clouds', 'broken clouds', 14.57000000000005, 1023, 85, 3.09, '2024-06-03 08:22:59')
('Manchester', 'Clouds', 'broken clouds', 14.410000000000023, 1023, 89, 1.03, '2024-06-03 08:28:58')
('Liverpool', 'Rain', 'light rain', 14.310000000000002, 1021, 91, 5.66, '2024-06-03 08:32:54')
('Leeds', 'Clouds', 'few clouds', 14.75, 1017, 84, 6.69, '2024-06-03 08:28:26')
('Bristol', 'Clouds', 'scattered clouds', 16.120000000000005, 1023, 81, 2.06, '2024-06-03 08:23:34')
('Sheffield', 'Clouds', 'overcast clouds', 15.400000000000034, 1042, 69, 0.45, '2024-06-03 08:27:17')
('Leicester', 'Clouds', 'overcast clouds', 14.980000000000018, 1022, 86, 4.37, '2024-06-03 08:25:06')
('Coventry', 'Clouds', 'broken clouds', 15.08000000000004, 1023, 84, 3.6, '2024-06-03 08:32:55')
('Kingston upon Hull', 'Clouds', 'overcast clouds', 15.010000000000048, 1020, 41, 3.6, '2024-06-03 08:32:55')

In [ ]:

# Write the DataFrame to the Snowflake database, append if exist
# the append specification lets it work with updating the staging db everyday

df1.to_sql('weather', con=engine, index=False, if_exists='append')
engine.dispose()

In [1]:
!pip install dbt

Collecting dbt
  Downloading dbt-1.0.0.37.19.tar.gz (3.0 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: setuptools>=61.2 in /opt/anaconda3/lib/python3.11/site-packages (from dbt) (69.5.1)
Building wheels for collected packages: dbt
  Building wheel for dbt (setup.py) ... done
  Created wheel for dbt: filename=dbt-1.0.0.37.19-py3-none-any.whl size=1879 sha256=ca4da6ff45a4ab5b98c72d3658b0c01d0df08ea4c2118e7482976e6121f9a309
  Stored in directory: /Users/villy/Library/Caches/pip/wheels/02/bf/c3/a98066d87dfe9d0352271b3946f26590512d24a96c78d0c801
Successfully built dbt
Installing collected packages: dbt
Successfully installed dbt-1.0.0.37.19